<div class="w-full h-screen flex">
  <div class="flex w-3/4 m-auto gap-4 h-full p-12">
    <div class="flex flex-col w-1/4 rounded-lg gap-2">
      <div *ngFor="let room of rooms">
        <div>
          <a
            class="block text-white p-4 bg-emerald-600 rounded-lg hover:cursor-pointer hover:bg-emerald-800"
            [ngClass]="{ 'bg-emerald-800': id === room, '': id === room }"
            (click)="change(room)"
          >
            <p class="text-center">
              {{ room.charAt(0).toUpperCase() + room.slice(1) }}
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="w-3/4 bg-white rounded-lg h-full"></div>
  </div>
</div>
